

.container{
    display: flex;
    /* height: var(--height-container);
    margin-top: var(--height-header);
    overflow: hidden; */
}

.content{
    position: relative;
    width: 100%;
    flex: 1;
    height: var(--height-container);
    background-color: var(--bg-secondary);
    overflow-y: scroll;
    padding-bottom: var(--sp-7);
    /* padding: 0 var(--sp-7); */
}

/* .content:hover{
    overflow-y: auto;
} */

.content__song{
    display: flex;
    justify-content: center;
    padding-top: var(--sp-6);
}

.song{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--sp-3);
    /* padding-top: calc(var(--sp-2) * 4); */
}

.song__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song__disc{
    height: var(--size-cd-music);
    width: var(--size-cd-music);
    border-radius: 50%;
    overflow: hidden;
    /* animation: mymove 10s infinite linear; */
}

.song__name{
    margin-top: var(--sp-3);
    width: var(--size-cd-music);
    line-height: 1.5;
    color: var(--c-primary);
    font-size: var(--fs-song);
    font-weight: 700;
    text-align: center;
}
.song__singer{
    width: var(--size-music);
    color: var(--c-sencondary);
    text-align: center;
    line-height: 1.5;
}

.song__lyrics{
    flex: 3;
    position: relative;
    /* overflow-y: scroll; */
    height: 450px;
    padding: 0 var(--sp-3);
}

::-webkit-scrollbar {
    position: absolute;
    z-index: 100;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background: var(--bg-scroll);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bg-thumb);
}

.song__lyrics p,.song__lyrics span{
    color: var(--c-primary);
    line-height: 1.5;
    text-align: justify;
    
}
.song__lyrics span{
    display: block;
    font-size: var(--fs-song);
    padding-bottom: var(--sp-2);
    border-bottom: solid 1px var(--bd-primary);
}
.song__lyrics p{
    padding: 0 var(--sp-5);
    position: relative;
    display: block;
    height: 100%;
    margin-top: var(--sp-2);
    font-size: var(--fs-primary);
    padding: var(--sp-3) 0;
    text-align: center;
    overflow-y: scroll;
    line-height: 2.2;
    transition: all .2s linear;
}

.song__lyrics p::-webkit-scrollbar-thumb {
    height: 6px;
    background: #ff3d1d;
    border-radius: 10px;
    visibility: hidden;
}
/* 
.song__lyrics p:active:-webkit-scrollbar-thumb {
    visibility: visible;
} */


.song__lyrics::before{
    position: absolute;
    content: "";
    top: 40px;
    left: 0;
    right: 0;
    height: 35px;
}


/* control */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin: var(--sp-6) 0 0 0;
}

.control .btn {
    padding: var(--sp-item-control);
    font-size: var(--fs-item-control);
    border: none;
}


.btn-play{
    border: solid 1px var(--c-primary) !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
}

.btn-play i{
    transform: translate(2px, 1px);
}

.icon-play{
    display: none;
    transform: translate(4px, 1px) !important;
}

.control.playing .icon-play{
    display: block;
}
.control.playing .icon-pause{
    display: none;
}

.control .btn i{
    color: var(--c-primary);
    cursor: pointer;
}

.control .btn.active {
    color: var(--c-primary);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: var(--fs-btn-play);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    width: 70%;
    /* -webkit-appearance: none; */
    height: 6px;
    background-color: var(--bg-secondary);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-top: var(--sp-6);
    overflow: hidden;
    cursor: pointer;
}


/* list song */

.container__list-song{
    margin-top: var(--sp-7);
    /* display: flex;
    flex-direction: column; */
    padding: 0 var(--sp-7);
}
.title{
    color: var(--c-primary);
    font-size: var(--fs-title);
    padding: 0 var(--sp-3);
}

.music__list{
    margin-top:  var(--sp-5);
    display: flex;
    flex-wrap: wrap;
}

.image__singer .music__image{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    overflow: hidden;
}

.image__singer span{
    display: block;
    text-align: center;
    color: var(--c-primary);
    font-size: var(--fs-tertiary);
    margin-top: var(--sp-3);
}
.music__item{
    padding: 0 var(--sp-3);
    margin-bottom: var(--sp-5);
    width: calc(100% / 5);
    font-size: 14px;
    transition: all .2s ease-in-out;
}

.music__image{
    position: relative;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.music__image > img{
    transition: all .4s linear;
}

.music__image:hover::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--bg-secondary);
    opacity: .4;
    z-index: 1;
}

.music__image:hover > img{
    transform: scale(1.1);
}



.music__title{
    display: block;
    text-decoration: none;
    color: var(--c-primary);
    font-weight: 700;
    margin: calc(var(--sp-1) * 2) 0 var(--sp-1) 0;
    
    transition: all .2s linear;
}

.music__title::before{
    content: '\00A0';
}

.music__title:hover{
    color: var(--bg-primary);
}

.music__singer{
    display: block;
    color: var(--c-sencondary);
}


@media (max-width: 1600px) {
    .now-playing{
        display: none;
    }
}
