/* sidbar */
.sidebar{
    height: 100%;
    width: var(--width-sidebar);
    background-color: var(--bg-tertiary);
}

.sidebar__list{
    list-style: none; 
    color: var(--c-sencondary);
    padding: var(--sp-3) var(--sp-4);
}
.sidebar__item{
    display: flex;
    align-items: center;
    font-size: var(--fs-secondary);
    font-weight: 700;
    height: 38px;
    cursor: pointer;
    transition: all .2s linear;
    
}

.sidebar__item:hover{
    color: var(--c-primary);
}

.sidebar__item i{
    font-size: var(--fs-icon-sidbar);
    margin-right: var(--sp-2);
}

.sidebar__item span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}